body
{
    font-family: Tahoma,Geneva, Sans-Serif;
    color:#fff;
    background: url("Live-Wallpaper-6.jpg");
    background-size: cover;
}
a
{
    color: yellow;
    text-decoration: blink;
    font-family: Tahoma,Geneva,sans-serif;
    margin-left: 35px;
}
.fogt {
    background: rgba(44, 62, 80, 0.7);
    padding: 40px;
    width: 240px;
    height: 340px;
    margin-left: 180px;
    margin: 0 auto;
    margin-top: 120px;
}
form
{
    width: 240px;
    text-align: center;
}
input
{
    width: 240px;
    text-align: center;
    background: transparent;
    border:none;
    border-bottom: 1px solid #fff;
    font-family: 'play',sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outliine: none;
    color: #fff;
}
input[type=button]
{
    border: none;
    width: 190px;
    background: white;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-redius: 12px;
    cursor: pointer;
}
input[type=button]:hover
{
    color: #fff;
    background-color: black;
}
h2
{
    color: #000;
}
::placeholder{
    color:aliceblue;
    opacity: 0.8;
}